*{
    background-color: blue;
    box-shadow: 50cm;
    margin: 0;
    padding: 5px;
}
.do{
    color: red;
    box-shadow: 50cm;
    padding: 20px;
}

.sss {
    color: red;
    padding: 50px;
    border-radius: 50px;
    text-decoration: none;
}
