*{
    background-color: black;
    box-shadow: 50cm;
    margin: 0;
    padding: 5px;
    text-decoration: none;
}
.do{
    color: white;
  
}

.sss {
    color:whitesmoke;
    
    text-decoration: none;
}
