*{
    background-color: blue;
    box-shadow: 50cm;
    margin: 0;
    padding: 5px;
    text-decoration: none;
}
.do{
    color: white;
  
}

.sss {
    color: white;
   
    
    text-decoration: none;
}
